@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gluten:wght@700&family=Lato&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

@font-face {
  font-family: 'cordel';
  src: url('font/cordelina.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-texto: 'Poppins', sans-serif;
}

html, body {
  background-color: rgba(0, 0, 0, 0.527);
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}
header h1 {
  font-family: cordel;
  font-size: 90px;
  padding-top: 50px;
  padding-bottom: 5px;
  font-variant: small-caps;
}
header p {
  font-weight:200;
  font-size: 19px;
  padding-bottom: 50px;
}
header p a{
  color: white;
  font-family: var(--font-texto);
  text-decoration: none;
  font-weight: bold;
}
header p a:hover {
  text-decoration: underline ;
  color: bisque;
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: auto;
}
.normal {
  background-color: white;
  background-repeat: no-repeat;
}
.normal p{
  margin: auto;
  max-width: 400px;
  font-family: var(--font-texto);
  padding: 20px;
  font-size: 25px;
  line-height: 2em;
}
.imagem p {
  font-family: var(--font-texto);
  font-size: 25px;
  line-height: 2em;
  margin: auto;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.521);
  max-width: 400px;
  height: auto;
  border-radius: 10px;
 
}
@media screen and (max-width: 550px) {
  .imagem p, .normal p{
    font-size: 16px;
    max-width: 300px;
    height: auto;
  }
  footer p a, .rodape {
    font-size: 16px;
  }

}
.imagem {
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(imagens/background001.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#carta {
  background-image: url(imagens/background002.jpg);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: black;
  color: white;
  font-family: var(--font-texto);
}

footer p {
  font-size: 20px;
  padding: 50px 0;
  text-align: center;
}